[submodule "Mjb_store"]
	path = Mjb_store
	url = git@github.com:AraMinjibir/Mjb_Store.git
[submodule "login-sign-up"]
	path = login-sign-up
	url = git@github.com:AraMinjibir/login-sign-up.git
[submodule "registration-form"]
	path = registration-form
	url = git@github.com:AraMinjibir/registration-form.git
